body{
  background-color: rgb(43, 43, 43);
}

h1 {
  text-align: center;
  font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  padding-bottom: 0.5em;
  font-size: 60px;
  text-decoration: underline;
  color: white;
}

.title {
  text-align: center;
  font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  padding-bottom: 0.1em;
  font-size: 60px;
  text-decoration: underline;
  color: white;
  padding-top: 7rem;
}

.main{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(43, 43, 43);
    padding: 4rem;
    width: 80rem;
    position: relative;
    margin: 0 auto;
  }
  
  .main, div.text-main {
    flex: 3.4 1;
  }

  div.text-main .site-icon{
    padding-right: 30%;
    padding-top: 10%;
    position: relative;
    color: rgb(255, 255, 255);
  }

  .main p {
    color: rgb(228, 228, 228);
    font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-size: 23px;
    font-weight: 300;
    letter-spacing: 1.5px;
    line-height: 30px;
  }

  .main em {
    font-weight: 500;
    font-style: normal;
    color:rgb(255, 255, 255);
    font-size: 27px;
  }

  .main-skill-set {
    flex-wrap: wrap;
    background-color: rgb(43, 43, 43);
    padding: 4rem;
    position: relative;
    padding-top: 2rem;
    width: 80rem;
    margin: 0 auto;
  }

  .myself {
    /* Set element horizontally */
    display: flex;
    /* padding: 1.5rem; */
    gap: 7em;
    padding-top: 6%;
  }

  .myself i, .myself-right i {
    font-style: normal;
    font-size: 20px;
    color: rgb(255, 255, 255);
  }

  .myself-right {
    justify-content: center;
    margin-right: 15px;
    padding-top: 4%;
    padding-bottom: 5%;
  }

  .myself p, .myself-right p {
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 20px;
    font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    line-height: 40px;
    padding-top: 5px;
    color: rgb(255, 255, 255);
  }

  .container .em-photo {
    font-weight: 500;
    color:rgb(255, 255, 255);
    font-size: 40px;
    font-style: normal;
  }

  .main .em-education {
    font-weight: 500;
    color:rgb(62, 111, 67);
    font-size: 40px;
  }

  .main h4 {
    color: black;
    font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    padding-bottom: 1em;
    font-size: 40px;
    text-align: left;
  }

  .main div.img-main {
    flex: 1 1 400px;
  }

  .main-skill-set table {
    width:70%; 
    margin-left:15%;
    color: white;
  }

  .main-skill-set .title {
    font-size: 30px;
    font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-weight: 400;
    text-align: left;
  }

  .main-skill-set th, tr {
    width: 15rem;
    padding-bottom: 3%;
    font-weight: 500;
  }

  .main-skill-set td {
    padding: 15px;
  }

  .main-skill-set li {
    padding-top: 1%;
    line-height: 3rem;
    font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    right: 240px;
    font-size: 23px;
    font-weight: 200;
  }

  .img-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  /* Mobile version */
  @media (max-width: 800px) {
    body{
      width: auto;
    }

    .main{
      display:inline;
      width: 84rem;
      position: relative;
      margin: 0 auto;
    }

    div.text-main .site-icon{
      padding-left: 30%;
      position: relative;
      color: rgb(255, 255, 255);
    }

    div.img-main{
      padding-top: 10%;
    }
    
    .about-text {
      padding: 5% 10% 1rem 10%;
    }

    .myself {
      /* Set element horizontally */
      display: flex;
      gap: 8em;
      width: 1rem;
      font-size: 18px;
      padding: 5% 1rem 3rem 20%;
    }

    .myself-right {
        padding: 0 0 10% 20%;
    }

    .myself i, .myself-right i {
      font-style: normal;
      font-size: 30px;
      color: rgb(255, 255, 255);
    }
  

    .myself p{
      color: rgb(255, 255, 255);
      font-weight: 300;
      font-size: 20px;
      font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
      line-height: 30px;
      padding-top:20px;
    }

    .myself-left i, .myself-mid i, .myself-right i{
      font-size: 27px;
    }

    .myself-right p{
      color: rgb(255, 255, 255);
      font-weight: 300;
      font-size: 20px;
      font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
      line-height: 30px;
      padding-top:20px;
    }

    .main .title {
      font-size: 22px;
      font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
      font-weight: 400;
      text-align: left;
    }

    .main table {
      width:auto; 
    }

    .main li {
      padding-top: 1%;
      line-height: 2rem;
      font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
      right: 240px;
      font-size: 18px;
      font-weight: 200;
    }

    .main td {
      padding-top: 10px;
    }

    .main-skill-set {
      flex-wrap: wrap;
      background-color: rgb(43, 43, 43);
      padding: 4rem;
      position: relative;
      padding-top: 2rem;
      width: 80rem;
      margin: 0 auto;
      display:inline;
    }

    .main-skill-set td {
      padding: 30px;
    }

}
